@import url('https://fonts.googleapis.com/css?family=Raleway');

#app-layout {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    margin: 0;
}
.services {
    list-style-type: none;
}
.services li {
    background-color: #fafafa;
    width: 30em;
    padding: 1em 2em;
    border: 1px solid #aaa;
    margin: 0.2em auto;
    text-align: left;
}
.post_div {
    background-color: #fafafa;
    width: 80%;
    padding: 1em 2em;
    border: 1px solid #aaa;
    margin: 0.2em auto;
    text-align: left;
}
.post_div a,
.links_in_post{
    color: #000;
    text-decoration: none;
}
.post_div a:hover,
.links_in_post:hover {
    color: #444;
    text-decoration: underline;
}
hr {
    width: 70%;
}
.form_div {
    text-align: left;
    width: 95%;
    max-width: 700px;
    margin: auto;
}
.form_input {
    width: 100%;
    padding: 0.3em 0.5em;
    margin: 0.5em auto;
}
.form_submit, .delete_post {
    border: none;
    border-radius: 2px;
    padding: 0.5em 3em;
    color: #fff;
    background-color: #222;
    cursor: pointer;
}
.delete_post {
    margin-top: 2em;
}
.form_submit:hover,
.delete_post:hover {
    text-decoration: underline;
    background-color: #000;
}
.alert {
    text-align: left;
    width: 95%;
    max-width: 600px;
    margin: 1em auto;
    padding: 1em 2em;
    border: 1px solid #444;
    border-radius: 2px;
    background-color: #eee;
    color: #444;
}
.alert_error {
    background-color: #FFCFCD;
}